discord.py
pillow~=8.0.1
pyfiglet~=0.8.post1
asyncio~=3.4.3
prettytable~=1.0.1
arabic_reshaper
youtube_dlc
aiohttp~=3.6.3
discord~=1.0.1
requests~=2.25.0
spotipy~=2.16.1
bs4~=0.0.1
beautifulsoup4~=4.9.1
qrcode~=6.1
DiscordUtils~=1.2.6
PyNaCl
dblpy
python-bidi
discord-py-slash-command
timedelta